.venv
.idea
**/__pycache__/
**/.venv
**/venv

TODO

tests

# test files
backend/public/posts
backend/public/profiles
backend/data

# Migration file
**/alembic.ini
**/alembic

# Env file
.env
**/.env

# Logs
**/logs
