<!doctype html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8" />
        <title>{{ constants.APP_NAME }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="icon"
            href="{{ url_for('static' , filename = 'assets/logo/icon.png') }}"
            type="image/x-icon"
        />
        <!--  DaisyUI cdn  -->
        <link
            href="https://cdn.jsdelivr.net/npm/daisyui@5"
            rel="stylesheet"
            type="text/css"
        />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <!-- Theme -->
        <link
            href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
            rel="stylesheet"
            type="text/css"
        />

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />

        {% block head %} {% endblock head %}
    </head>

    <!-- Toast -->
    <div class="toast"></div>

    <!-- overflow-x remove extra space from right side of screen on mobile-->
    <body style="overflow-x: clip">
        <!-- Nav bar macro -->
        <div>
            {% from 'macros/navBarMacro.html' import navBarMacro with context %}
            {{ navBarMacro() }}
        </div>

        <!--  Body block for content  -->
        <div id="app"></div>

        <!--  Footer  -->
        <div>
            {% from 'macros/footerMacro.html' import footerMacro with context %}
            {{ footerMacro() }}
        </div>

        <!-- js file to perform client side work -->
        <script src="{{ url_for('static', filename='js/utils/themeMode.js') }}"></script>
        <script
            type="module"
            src="{{ url_for('static', filename='js/index.js') }}"
        ></script>
    </body>
</html>
