{% macro navBarMacro() %}

<!-- NavBar macro -->
<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" href="/" data-link
            >{{ constants.APP_NAME }}</a
        >
    </div>

    <!--  Light and Dark mode  -->
    <div
        class="light-dark-button hover:cursor-pointer hover:rounded-full hover:bg-purple-200 mr-2"
        onclick="setLDM()"
    >
        <!-- Light -->
        <div>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-sun-icon lucide-sun"
            >
                <circle cx="12" cy="12" r="4" />
                <path d="M12 2v2" />
                <path d="M12 20v2" />
                <path d="m4.93 4.93 1.41 1.41" />
                <path d="m17.66 17.66 1.41 1.41" />
                <path d="M2 12h2" />
                <path d="M20 12h2" />
                <path d="m6.34 17.66-1.41 1.41" />
                <path d="m19.07 4.93-1.41 1.41" />
            </svg>
        </div>
        <!-- dark -->
        <div class="hidden">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-moon-star-icon lucide-moon-star"
            >
                <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9" />
                <path d="M20 3v4" />
                <path d="M22 5h-4" />
            </svg>
        </div>
    </div>

    <!--   Search box   -->
    <div class="hidden sm:flex flex-row gap-2">
        <input
            type="text"
            placeholder="Search People, Memes, Templates"
            class="input input-bordered sm:max-w-64 lg:w-64"
            name="searchBox"
        />
        <button class="btn">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-search-icon lucide-search"
            >
                <circle cx="11" cy="11" r="8" />
                <path d="m21 21-4.3-4.3" />
            </svg>
        </button>
    </div>

    <!--   Upload button   -->
    <a class="btn mx-2" href="/post/create" data-link>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-smile-plus-icon lucide-smile-plus"
        >
            <path d="M22 11v1a10 10 0 1 1-9-10" />
            <path d="M8 14s1.5 2 4 2 4-2 4-2" />
            <line x1="9" x2="9.01" y1="9" y2="9" />
            <line x1="15" x2="15.01" y1="9" y2="9" />
            <path d="M16 5h6" />
            <path d="M19 2v6" />
        </svg>
    </a>

    <div class="flex gap-2">
        <div id="profileBtnContainer" class="dropdown dropdown-end hidden">
            <div
                tabindex="0"
                role="button"
                class="btn btn-ghost btn-circle avatar"
            >
                <div class="w-10 rounded-full">
                    <img
                        id="loggedProfileLogo"
                        alt="Tailwind CSS Navbar component"
                    />
                </div>
            </div>
            <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
                onclick="document.activeElement.blur()"
            >
                <li>
                    <a id="goToProfile" class="justify-between" data-link>
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li><a>Settings</a></li>
                <li><a href="auth/logout" data-link>Logout</a></li>
            </ul>
        </div>
        <!--Sinnup and login container-->
        <div id="signupLoginContainer" class="flex flex-row gap-2">
            <!-- Signup button-->
            <a class="btn sr-only sm:not-sr-only" href="/auth/signup" data-link
                >Create Account</a
            >
            <!-- Login button-->
            <a class="btn" href="/auth/login" data-link>Log in</a>
        </div>
    </div>
</div>

{% endmacro %}
